@page
@model Web.Pages.Vehiculos.AgregarModel
@{
    ViewData["Title"] = "Agregar Vehículo";
}

<div class="container mt-4">
    <h2 class="mb-4">Agregar Vehículo</h2>

    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">

            <form method="post">

                <div class="mb-3">
                    <label for="marcas" class="form-label">Marca</label>
                    <select asp-for="marcaSeleccionada" class="form-select" asp-items="Model.marcas" id="marcas" onchange="fetchModelos()">
                        <option value="">Seleccione una marca</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="modelos" class="form-label">Modelo</label>
                    <select asp-for="vehiculo.IdModelo" class="form-select" asp-items="Model.modelos" id="modelos">
                        <option value="">Seleccione un modelo</option>
                    </select>
                    <span class="text-danger" asp-validation-for="vehiculo.IdModelo"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="vehiculo.Placa"></label>
                    <input class="form-control" asp-for="vehiculo.Placa" />
                    <span class="text-danger" asp-validation-for="vehiculo.Placa"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="vehiculo.Precio"></label>
                    <input class="form-control" asp-for="vehiculo.Precio" />
                    <span class="text-danger" asp-validation-for="vehiculo.Precio"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="vehiculo.Anio"></label>
                    <input class="form-control" asp-for="vehiculo.Anio" />
                    <span class="text-danger" asp-validation-for="vehiculo.Anio"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="vehiculo.Color"></label>
                    <input class="form-control" asp-for="vehiculo.Color" />
                    <span class="text-danger" asp-validation-for="vehiculo.Color"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="vehiculo.CorreoPropietario"></label>
                    <input class="form-control" asp-for="vehiculo.CorreoPropietario" />
                    <span class="text-danger" asp-validation-for="vehiculo.CorreoPropietario"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="vehiculo.TelefonoPropietario"></label>
                    <input class="form-control" asp-for="vehiculo.TelefonoPropietario" />
                    <span class="text-danger" asp-validation-for="vehiculo.TelefonoPropietario"></span>
                </div>

                <div class="text-danger mb-3" asp-validation-summary="All"></div>

                <div class="d-flex gap-2">
                    <a class="btn btn-primary" asp-page="./Index">Regresar</a>
                    <input type="submit" value="Agregar" class="btn btn-success" />
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        async function fetchModelos() {
            const marcaId = document.getElementById('marcas').value;
            if (!marcaId) {
                return;
            }
            try {
                const response = await fetch(`?handler=ObtenerModelos&marcaId=${marcaId}`);
                if (!response.ok) {
                    throw new Error('Error obteniendo los datos');
                }
                const modelos = await response.json();
                const modelosSelect = document.getElementById('modelos');
                modelosSelect.innerHTML = '<option value="">Seleccione un modelo</option>';
                modelos.forEach(modelo => {
                    const option = document.createElement('option');
                    option.value = modelo.id;
                    option.text = modelo.nombre;
                    modelosSelect.appendChild(option);
                });
            } catch (error) {
                console.error('Error obteniendo los datos:', error);
            }
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}